body {
    background: url(../img/bg1.jpg);
    background-size:100%;
    color: #ffffff !important;
}

.content {
    margin-top: 66px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    color: #b35d06;
    padding-bottom: 16px;
    font-size: 18px;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    opacity: 0.8;
}

.form-group>label {
    text-transform: uppercase;
    color: #3f3f3f;
}

.portfolio-item {
  margin-bottom: 30px;
}

.h-100 {
    width: 100%!important;
}

.h4, h4 {
    font-size: 18px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 24px;
    color: #b35d06;
}

.card-text {
    color: #3f3f3f;
    margin-bottom: 0;
}

.info {
    margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    /*background-color: #1ec183;*/
    color: #ffffff;
    margin-bottom: 20px;
    background-color: rgba(61, 61, 61, 0.6);
    border-radius: 10px;
}

.dropdown-menu>li>a {
    color: #b35d06 !important;
}

.card-img-top {
    width: 100% !important;
}

#logo {
    margin: 4px auto;
    margin-bottom: 3px;
}

#activate{
    margin: 4px auto;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #ffffff;
}

.login {
    font-size: 24px;
}

#balance {
    margin-top: 14px;
}

.balance-block {
    margin-top: 20px;
}

.history {
    margin-top: 20px;
}

.pagenav {
    text-align: center;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent !important; 
}

.navbar-inverse {
    background-color: #ffffff !important;
    border-color: #e7e7e7 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #b35d06 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #edeadf !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #b35d06 !important;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e7e7e7 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff !important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    padding-left: 30px !important;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    padding-left: 15px !important;
}

.no-100 {
    width: auto !important;
    display: initial !important;
}