{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />

    <title>My Account | ArOne Bonus Card</title>

    <link rel="stylesheet" href="{% static 'maindb/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img id="logo" class="center-block" src="{% static 'maindb/img/logo1.png' %}" width="160">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="/home/">Իմ Հաշիվը</a></li>
                {% else %}
                    <li><a href="/login/">Մուտք</a></li>
                    <li><a href="/activation/">Քարտի ակտիվացում</a></li>
                {% endif %}
                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Մեր գործնկերները<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item "><a href="/partners/?type=comfort">Comfort</a></li>
                        <li class="menu-item "><a href="/partners/?type=premium">Premium</a></li>
                        <li class="menu-item "><a href="/partners/?type=luxury">Luxury</a></li>
                        <li class="menu-item "><a href="/partners">Բոլորը</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/about/">Մեր մասին</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/login/">Դուրս գալ</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="content">
    <div class="container">
        <div class="row">
            <h1 class="text-center title">Մեր Մասին</h1>
        </div>
        <div class="row">
            <div class="info">
                <p>«Առռատտա Ուան» Փակ Բաժնետիրական Ընկերությունը ստեղծվել է 2017 թվականի հոկտեմբեր ամսին՝ Մերի Հայկի Հարությունյանի, Ռոբերտ Մերուժանի Քյասինյանի, Դավիթ Վազգենի Առաքելյանի, Ֆելիքս Մերուժանի Քյասինյանի, Սերյոժա Վազգենի Առաքելյանի, Մհեր Խիդիրյանի, Եվգենի Վյալկովի, Գեղամ Արամայիսի Սարգսյանի, Գարիկ Կոնստանտինի Մուրադյանի, Գարիկ Վլադիմիրի Ախոյանի, Մելինե Հայկի Հարությունյանի Համատեղ գործունեության արդյունքում։</p>
                <p>«ARONE» ունիվերսալ զեղչային քարտերը գործում են հետեւյալ ոլորտներում՝ խանութներ, սրճարաններ, ռեստորաններ, հանգստյանտներ, հյուրանոցներ եւ տարատեսակ ծառայություններ: Մեր հիմնական նպատակն է բարեկեցիկ կյանք ապահովել ձեզ համար՝ համակարգման եւ տնտեսման միջոցով։</p>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>