{% extends "activation.html" %}
{% block phone_already_exists %}
    <div class="alert alert-warning">
        <p class="text-center">Մուտքագրված հեռախոսահամարն արդեն օգտագօրծվում է</p>
    </div>
{% endblock %}
