{% extends "activation.html" %}
{% block activation_failed %}
    <div class="alert alert-warning">
        <p class="text-center">Մուտքագրված հեռախոսահամարն արդեն օգտագործվում է</p>
    </div>
{% endblock %}
