{% load static %}
{% load maindb_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />

    <title>My Account | ArOne Bonus Card</title>

    <link rel="stylesheet" href="{% static 'maindb/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img id="logo" class="center-block" src="{% static 'maindb/img/logo1.png' %}" width="160">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home/">Իմ Հաշիվը</a></li>
                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Մեր գործնկերները<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item "><a href="/partners/comfort">Comfort</a></li>
                        <li class="menu-item "><a href="/partners/premium">Premium</a></li>
                        <li class="menu-item "><a href="/partners/luxury">Luxury</a></li>
                        <li class="menu-item "><a href="/partners">Բոլորը</a></li>
                    </ul>
                </li>
                <li><a href="/about/">Մեր մասին</a></li>
                <li><a href="/login/">Դուրս գալ</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="content">
    <div class="info">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Դուք ունեք`</h1>
            </div>
            <div class="row balance-block">
                <div class="col-xs-7">
                    <h1 id="balance" class="text-right">{{ BALANCE}}</h1>
                </div>
                <div class="col-xs-5">
                    <img class="left-block" src="{% static 'maindb/img/arcoin.png' %}" width="70">
                </div>
            </div>
            {% if not activated %}
                <form class="container" name="ActivateCardForm" action="/home/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="activated" value="1" />
                    <button type="submit" class="btn-lg btn-success btn-block activate">Ակտիվացնել Քարտը</button>
                </form>
            {% else %}
                <div class="row history">
                    <table class="table table-dark">


                        <thead>
                        <tr>
                            <th scope="col">ԱՄՍԱԹԻՎ</th>
                            <th scope="col">ՎԱՅՐ</th>
                            <th scope="col">ԳՆՈՒՄ</th>
                            <th scope="col">ՄՎ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for zip in ziped_list%}
                            <tr>
                                <th scope="row">{{ zip.0|date:'Y-m-d H:i'}}</th>
                                <td>{{ zip.1}}</td>
                                <td>{{ zip.2 }}</td>
                                <td>{{ zip.3 }}</td>
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagenav" >
                    <div class="Row">
                        <div class="col-xs-1">
                            <span>{{request.Get.p}} </span>
                            {% if request.GET.p == "1"%}
                                <span>« </span>
                            {% else %}
                                {% with request.GET.p|add:"-1" as p_num %}
                                <a href= {{ "https://my.arratta.one/home/?p="|addstr:p_num }}>« </a>
                                {% endwith %}
                            {% endif %}
                        </div>
                        <div class="col-xs-1">
                            <span>{{ request.GET.p|default:"1" }}</span>
                        </div>
                        <div class="col-xs-1">
                            {% if request.GET.p == pages_num %}
                                <span> »</span>
                            {% else %}
                                {% with request.GET.p|add:"1" as p_num %}
                                <a href= {{ "https://my.arratta.one/home/?p="|addstr:p_num }}> »</a>
                                {% endwith %}
                            {% endif %}
                        </div>   
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>